.nav-item-active,
.nav-item {
  font-weight: 300;
  position: relative;
}

.nav-item-active::after,
.nav-item::after {
  bottom: -3px;
  content: '';
  height: 2px;
  left: 0;
  position: absolute;
  transition: 300ms;
  width: 35px;
}

.nav-item-active::after {
  animation: show-from-left linear 300ms;
  background-color: #36dde8;
}

.nav-item:hover::after {
  animation: show-from-left linear 300ms;
  background-color: #fff;
}

@keyframes show-from-left {
  0% {
    width: 0px;
  }
  100% {
    width: 35px;
  }
}
