---
// import Navigation from '../components/Navigation.astro';
import Contacts from '../components/Contacts.astro';
import Layout from '../layouts/Layout.astro';
import AboutSection from '../sections/AboutSection.astro';
import ProjectsSection from '../sections/ProjectsSection.astro';
import SkillsetSection from '../sections/SkillsetSection.astro';
---

<Layout>
  <section>
    <h1 class='text-5xl'>Luis Cervantes</h1>
    <h2 class='text-2xl mt-2 mb-10'>&lt;Front-End Developer /&gt;</h2>

    <blockquote>
      <p style='text-wrap: balance;'>
        “The people who are crazy enough to think they can change the world are
        the ones who do.” - Steve Jobs
      </p>
    </blockquote>

    <!-- <Navigation /> -->

    <Contacts />
  </section>

  <main>
    <AboutSection />
    <ProjectsSection />
    <SkillsetSection />
  </main>
</Layout>
