---
import { changeLanguage, t } from 'i18next';
import Navigation from '../components/Navigation.astro';
import Contacts from '../components/Contacts.astro';
import Layout from '../layouts/Layout.astro';
import AboutSection from '../sections/AboutSection.astro';
import ProjectsSection from '../sections/ProjectsSection.astro';
import SkillsetSection from '../sections/SkillsetSection.astro';
import LanguageSwitch from '../components/LanguageSwitch.astro';

changeLanguage('en');
---

<Layout>
  <section class='lg:shrink-0 lg:basis-[400px] lg:h-screen relative'>
    <div
      class='lg:fixed lg:w-[400px] lg:h-full lg:pb-[50px] lg:flex lg:flex-col justify-between'
    >
      <div>
        <h1 class='text-5xl'>Luis Cervantes</h1>
        <h2 class='text-2xl mt-2'>&lt;Front-End Developer /&gt;</h2>

        <LanguageSwitch />

        <blockquote class='mb-2'>
          <p>
            "{t('intro.quote')}" - Steve Jobs
          </p>
        </blockquote>
      </div>

      <Navigation />

      <Contacts />
    </div>
  </section>

  <main>
    <AboutSection />
    <!-- <ProjectsSection /> -->
    <!-- <SkillsetSection /> -->
  </main>
</Layout>
