---
import Navigation from '../components/Navigation.astro';
import Contacts from '../components/Contacts.astro';
import Layout from '../layouts/Layout.astro';
import Project from '../components/Project.tsx';
import Subtitle from '../components/Subtitle.astro';
import Arrow from '../svgs/Arrow.astro';
import Skillset from '../components/Skillset.astro';

import { projects } from '../projects';
import { languages, frameworks, tools } from '../images';
---

<Layout>
  <section>
    <h1 class='text-5xl'>Luis Cervantes</h1>
    <h2 class='text-2xl mt-2 mb-10'>&lt;Front-End Developer /&gt;</h2>

    <blockquote>
      <p style='text-wrap: balance;'>
        “The people who are crazy enough to think they can change the world are
        the ones who do.” - Steve Jobs
      </p>
    </blockquote>

    <!-- <Navigation /> -->

    <Contacts />
  </section>

  <main>
    <section>
      <Subtitle>About</Subtitle>

      <p>
        I'm passionate about software development, seeking exciting
        opportunities to start my professional career. Although I lack direct
        work experience, I have been dedicating time and effort to personal
        projects with the goal of enhancing my skills in both web development
        and design.
      </p>
    </section>

    <section class='mt-[75px]'>
      <Subtitle>Projects</Subtitle>

      <div class='flex flex-col gap-5'>
        {
          projects.map((project) => (
            <Project {...project} client:only='react' />
          ))
        }
      </div>

      <a
        href='https://github.com/LugpDev2022?tab=repositories'
        class='projects-link mt-[10px]'>See more projects <Arrow /></a
      >
    </section>

    <section class='mt-[75px]'>
      <Subtitle>Skillset</Subtitle>

      <Skillset
        path='/languages'
        skills={languages}
        className='flex justify-around'
      >
        Languages
      </Skillset>

      <Skillset
        path='/frameworks'
        skills={frameworks}
        className='grid grid-cols-3 gap-8 justify-items-center'
      >
        Frameworks
      </Skillset>

      <Skillset path='/tools' skills={tools} className='flex justify-around'>
        Tools
      </Skillset>
    </section>
  </main>
</Layout>
