---
import Navigation from '../components/Navigation.astro';
import Contacts from '../components/Contacts.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section>
    <h1 class='text-5xl'>Luis Cervantes</h1>
    <h2 class='text-2xl mt-2 mb-10'>&lt;Front-End Developer /&gt;</h2>

    <blockquote>
      <p class='font-light' style='text-wrap: balance;'>
        “The people who are crazy enough to think they can change the world are
        the ones who do.” - Steve Jobs
      </p>
    </blockquote>

    <!-- <Navigation /> -->

    <Contacts />
  </section>
</Layout>
