---
import { BsTwitterX } from 'react-icons/bs';
import { FaGithub, FaLinkedin } from 'react-icons/fa';
import { TbBrandFiverr } from 'react-icons/tb';
---

<ul class='flex items-center gap-7 mt-10 mb-14'>
  <li>
    <a
      target='_blank'
      rel='noreferrer'
      href='https://mx.linkedin.com/in/luiscerv'
      class='transition-all hover:text-cyan-300'
    >
      <FaLinkedin size={30} />
    </a>
  </li>
  <li>
    <a
      target='_blank'
      rel='noreferrer'
      href='https://github.com/LugpDev2022'
      class='transition-all hover:text-cyan-300'
    >
      <FaGithub size={30} />
    </a>
  </li>
  <li>
    <a
      target='_blank'
      rel='noreferrer'
      href='https://twitter.com/LugpDev2022'
      class='transition-all hover:text-cyan-300'
    >
      <BsTwitterX size={30} />
    </a>
  </li>
  <li>
    <a
      target='_blank'
      rel='noreferrer'
      href='https://www.fiverr.com/lugpdev2022'
      class='transition-all hover:text-cyan-300'
    >
      <TbBrandFiverr size={30} />
    </a>
  </li>
</ul>
