<ul class='flex gap-7 mt-10'>
  <li>
    <a
      target='_blank'
      rel='noreferrer'
      href='https://mx.linkedin.com/in/luiscerv'
    >
      <img src='/linkedin.svg' alt='Linkedin Logo' />
    </a>
  </li>
  <li>
    <a target='_blank' rel='noreferrer' href='https://github.com/LugpDev2022'>
      <img src='/github.svg' alt='Github Logo' />
    </a>
  </li>
  <li>
    <a target='_blank' rel='noreferrer' href='https://twitter.com/LugpDev2022'>
      <img src='/twitter.svg' alt='Twitter Logo' />
    </a>
  </li>
  <li>
    <a
      target='_blank'
      rel='noreferrer'
      href='https://www.fiverr.com/lugpdev2022'
    >
      <img src='/fiverr.svg' alt='Fiverr Logo' />
    </a>
  </li>
</ul>
