<ul class='flex gap-7 mt-10 mb-14'>
  <li>
    <a
      target='_blank'
      rel='noreferrer'
      href='https://mx.linkedin.com/in/luiscerv'
    >
      <img
        src='/images/logos/linkedin.svg'
        alt='Linkedin Logo'
        width='33px'
        height='33px'
      />
    </a>
  </li>
  <li>
    <a target='_blank' rel='noreferrer' href='https://github.com/LugpDev2022'>
      <img
        src='/images/logos/github.svg'
        alt='Github Logo'
        width='33px'
        height='33px'
      />
    </a>
  </li>
  <li>
    <a target='_blank' rel='noreferrer' href='https://twitter.com/LugpDev2022'>
      <img
        src='/images/logos/twitter.svg'
        alt='Twitter Logo'
        width='33px'
        height='33px'
      />
    </a>
  </li>
  <li>
    <a
      target='_blank'
      rel='noreferrer'
      href='https://www.fiverr.com/lugpdev2022'
    >
      <img
        src='/images/logos/fiverr.svg'
        alt='Fiverr Logo'
        width='33px'
        height='33px'
      />
    </a>
  </li>
</ul>
