---
import i18next, { t } from 'i18next';
const { language } = i18next;
---

<a
  href={`/${language === 'es' ? '' : 'es'}`}
  class='inline-flex gap-[30px] px-[15px] py-[10px] border-[1px] border-cyan-300 rounded-full my-8 hover:text-cyan-300 transition'
>
  <img
    src={`/images/flags/${language}.png`}
    class={`${language === 'es' ? 'order-2' : ''} w-[30px]`}
    alt={t('intro.languageSwitchAlt')}
  />

  <span class='uppercase text-xl'>{language}</span>
</a>
