---
import '../styles/navbar.css';
---

<nav class='hidden lg:block'>
  <ul class='inline-flex flex-col gap-[15px]'>
    <li>
      <a href='#' class='nav-item-active'>About</a>
    </li>
    <li>
      <a href='#projects' class='nav-item'>Projects</a>
    </li>
    <li>
      <a href='#skillset' class='nav-item'>Skillset</a>
    </li>
  </ul>
</nav>
