<nav class='hidden lg:block'>
  <ul>
    <li>
      <a href='#about'>About</a>
    </li>
    <li>
      <a href='#projects'>Projects</a>
    </li>
    <li>
      <a href='#skillset'>Skillset</a>
    </li>
  </ul>
</nav>
