---
import type { IconType } from 'react-icons';

export type Skill = {
  name: string;
  icon: IconType;
};

interface Props {
  skills: Skill[];
  path: string;
  className?: string;
}

const { skills, path, className = '' } = Astro.props;
---

<section
  class={`border-cyan-300 border-[1.5px] rounded-[10px] pt-[35px] pb-[30px] mt-[55px] relative hidden-element ${className}`}
>
  <header
    class='absolute -top-4 left-[30px] px-[10px] border-[1.5px] border-y-0 border-x-cyan-300 bg-[#090f3f]'
  >
    <h4 class='text-xl'><slot /></h4>
  </header>

  {
    skills.map(async ({ icon, name }) => {
      const IconComponent = icon as IconType;

      return <IconComponent size={48} aria-label={name} />;
    })
  }
</section>
