---
import { Trans } from 'astro-i18next/components';
import { t } from 'i18next';

import Subtitle from '../components/Subtitle.astro';
---

<section class='text-lg'>
  <Subtitle>
    {t('intro.navigation.about')}
  </Subtitle>

  <p>
    {t('about.description')}
  </p>
</section>
