---
import Subtitle from '../components/Subtitle.astro';
---

<section>
  <Subtitle>About</Subtitle>

  <p>
    I'm passionate about software development, seeking exciting opportunities to
    start my professional career. Although I lack direct work experience, I have
    been dedicating time and effort to personal projects with the goal of
    enhancing my skills in both web development and design.
  </p>
</section>
