---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import Subtitle from '../components/Subtitle.astro';
---

<section class='text-lg'>
  <Subtitle>
    {t('intro.navigation.about')}
  </Subtitle>

  <p>
    {t('about.description')}
  </p>
</section>
