---
import { t } from 'i18next';

import Subtitle from '../components/Subtitle.astro';
---

<section class='mt-[75px]' id='education'>
  <Subtitle>
    {t('intro.navigation.education')}
  </Subtitle>

  <ul>
    <li></li>
    <li></li>
  </ul>
</section>
