---
import { t } from 'i18next';
import { Trans } from 'astro-i18next/components';

import Subtitle from '../components/Subtitle.astro';
---

<section class='mt-[70px] mb-5' id='education'>
  <Subtitle>
    {t('intro.navigation.education')}
  </Subtitle>

  <ul class='flex flex-col gap-2.5'>
    <li><b>CS50x</b> | Harvard University | 2024</li>
    <li>
      <Trans i18nKey='education.self-taught'>
        <b>Self-taught Education</b> | 2021 - Present
      </Trans>
    </li>
    <li>
      <Trans i18nKey='education.highschool'>
        Highschool | <b>Tecnológico de Monterrey</b> | 2022 - Present
      </Trans>
    </li>
  </ul>
</section>
