---
import Subtitle from '@/components/Subtitle.astro';
import { getLangFromUrl, useTranslations } from '@/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class='mt-[70px] mb-5' id='education'>
  <Subtitle>
    {t('intro.navigation.education')}
  </Subtitle>

  <ul class='flex flex-col gap-2.5 text-pretty'>
    <li>
      <b>{t('education.bs.1')}</b> | Tecnológico de Monterrey | {
        t('education.bs.2')
      }
    </li>
    <li>
      <b>{t('education.self-taught.1')}</b> | {t('education.self-taught.2')}
    </li>
    <li>
      {t('education.highschool.1')} | <b>Tecnológico de Monterrey</b> | {
        t('education.highschool.2')
      }
    </li>
  </ul>
</section>
