---
import Subtitle from '../components/Subtitle.astro';
import Project from '../components/Project';
import Arrow from '../svgs/Arrow.astro';

import { projects } from '../projects';
---

<section class='mt-[75px]' id='projects'>
  <Subtitle>Projects</Subtitle>

  <div class='flex flex-col gap-5 mt-5'>
    {
      projects.map((project, i) => (
        <Project {...project} lazy={i >= 2} client:only='react' />
      ))
    }
  </div>

  <a
    href='https://github.com/LugpDev2022?tab=repositories'
    class='projects-link mt-[10px]'
    target='_blank'
    rel='noreferrer'>See more projects <Arrow /></a
  >
</section>
