---
import Subtitle from '@/components/Subtitle.astro';
import Skillset from '@/components/Skillset.astro';
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import { frameworks, tools, languages } from '@/assets/content/skills';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class='mt-[40px]' id='skillset'>
  <Subtitle>
    {t('intro.navigation.skillset')}
  </Subtitle>

  <div class='max-w-full'>
    <Skillset skills={languages} className='grid-cols-3 md:grid-cols-5'>
      {t('skillset.languages')}
    </Skillset>

    <Skillset skills={frameworks} className='grid-cols-3 md:grid-cols-6'>
      Frameworks <span class='hidden sm:inline-block'
        >/ {t('skillset.libraries')}</span
      >
    </Skillset>

    <Skillset skills={tools} className='grid-cols-3 md:grid-cols-5'>
      {t('skillset.tools')}
    </Skillset>
  </div>
</section>
