---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import Subtitle from '../components/Subtitle.astro';
import Skillset from '../components/Skillset.astro';

import { languages, frameworks, tools } from '../images';
---

<section class='mt-[40px]' id='skillset'>
  <Subtitle>
    {t('intro.navigation.skillset')}
  </Subtitle>

  <div class='max-w-full overflow-x-hidden'>
    <Skillset
      path='/images/languages'
      skills={languages}
      className='flex justify-around'
    >
      {t('skillset.languages')}
    </Skillset>

    <Skillset
      path='/images/frameworks'
      skills={frameworks}
      className='grid grid-cols-3 sm:grid-cols-6 sm:px-8 gap-8 lg:gap-4 justify-items-center'
    >
      Frameworks <span class='hidden sm:inline-block'
        >/ {t('skillset.libraries')}</span
      >
    </Skillset>

    <Skillset
      path='/images/tools'
      skills={tools}
      className='flex justify-around'
    >
      {t('skillset.tools')}
    </Skillset>
  </div>
</section>
