* {
  color: #fff;
}

body {
  background-color: #0f2434 !important;
}

.bg-pc {
  background-image: url("./assets/pc-bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: bottom;
}

.title {
  font-weight: bold;
  font-size: 1.9em;
  text-align: center;
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
}

.subtitle {
  font-weight: 700;
  font-size: 1.6em;
  text-align: center;
}

.my-img {
  max-width: 200px;
  border-radius: 100%;
}

.fw-semi-bold {
  font-weight: 550;
}

$theme-colors: (
  "primary": #0f2434,
  "secondary": #255880,
  "dark": #0b1822,
);

@import "bootstrap/scss/bootstrap";
