@import "./custom.scss";

* {
  color: #fff;
}

body {
  background-color: #0f2434 !important;
}

.title {
  display: flex;
  flex-flow: wrap row;
  font-size: 1.9em;
  font-weight: bold;
  justify-content: center;
  text-align: center;
}

.subtitle {
  font-size: 1.6em;
  font-weight: 700;
  text-align: center;
}

.my-img {
  border-radius: 100%;
  max-width: 200px;
}

.custom-link {
  color: white;
  font-size: 1.2em;
  text-transform: uppercase;

  &:hover {
    color: #255880 !important;
  }
}

.custom-brand {
  color: white;
  text-decoration: none !important;

  font-size: 1.2em;

  &:hover {
    color: #255880 !important;
  }

  transition: 200ms;
}

.project-img {
  &:hover {
    box-shadow: 0px 0px 35px #255880;
    cursor: pointer;
    transition: 200ms;
  }
}

.pc-bg {
  position: absolute;
  z-index: -1;
  padding: 0px !important;
  filter: blur(15px);
}

.custom-modal {
  div > div {
    background: #081e2e;
    border-radius: 7px;
  }
}

.modal-icon {
  height: 35px;
  width: 35px;
}

.skillset-icon {
  display: block;
  height: 60px;
  width: 60px;
}
