---
import Navigation from '@/components/Navigation.astro';
import ContactsList from '@/components/contacts/ContactsList.astro';
import Layout from '@/layouts/Layout.astro';
import AboutSection from '@/sections/AboutSection.astro';
import ProjectsSection from '@/sections/ProjectsSection.astro';
import SkillsetSection from '@/sections/SkillsetSection.astro';
import LanguageSwitch from '@/components/LanguageSwitch.astro';
import EducationSection from '@/sections/EducationSection.astro';
---

<Layout>
  <section class='lg:shrink-0 lg:basis-[400px] lg:h-screen relative'>
    <div
      class='lg:fixed lg:w-[400px] lg:h-full lg:pb-[50px] lg:flex lg:flex-col justify-between'
    >
      <div>
        <h1 class='text-5xl'>Luis Cervantes</h1>
        <h2 class='text-2xl mt-2'>&lt;Front-End Developer /&gt;</h2>

        <LanguageSwitch />
      </div>

      <Navigation />

      <ContactsList />
    </div>
  </section>

  <main>
    <AboutSection />
    <SkillsetSection />
    <ProjectsSection />
    <EducationSection />
  </main>
</Layout>
