---
import '../styles/main.css';

import '@fontsource/poppins/300.css';
import '@fontsource/poppins/400.css';
import '@fontsource/playfair-display';
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <meta name='robots' content='index, follow' />
    <meta
      name='description'
      content='Im passionate about software development, seeking exciting opportunities to start my professional career.'
    />
    <!-- TODO: Add og image -->
    <meta property='og:image' content='/' />
    <meta
      property='og:image:alt'
      content='Screenshot of my awesome portfolio.'
    />

    <!-- TODO: Change favicon -->
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />

    <title>Luis Cervantes</title>
  </head>
  <body
    class='px-4
          py-5
          md:px-10
          lg:px-[50px]
          xl:px-[100px]
          text-xl'
  >
    <slot />
  </body>
</html>
