---
import i18next, { t } from 'i18next';
import { HeadHrefLangs } from 'astro-i18next/components';

import '../styles/main.css';

import '@fontsource/poppins/300.css';
import '@fontsource/poppins/400.css';
import '@fontsource/playfair-display';
---

<!doctype html>
<html lang={i18next.language} class='scroll-smooth'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <meta name='robots' content='index, follow' />
    <meta name='description' content={t('metadata.description')} />
    <meta property='og:image' content='/images/screenshot.png' />
    <meta property='og:image:alt' content={t('metadata.ogImgAlt')} />

    <link rel='shortcut icon' href='/favicon.ico' type='image/x-icon' />
    <HeadHrefLangs />

    <script src='../helpers/scrollAnimationObserver.ts'></script>
    <title>Luis Cervantes - Portfolio</title>
  </head>
  <body
    class='px-4 py-5 sm:px-[50px] lg:pt-[76px] xl:px-[100px] text-xl flex flex-col lg:flex-row lg:gap-20 xl:gap-36 max-w-screen-xl mx-auto'
  >
    <slot />
  </body>
</html>
