---
import '@fontsource/poppins/300.css';
import '@fontsource/poppins/400.css';
import '@fontsource/playfair-display';

import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import '@/styles/main.css';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<!doctype html>
<html lang={lang} class='scroll-smooth'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <meta name='robots' content='index, follow' />
    <meta name='description' content={t('metadata.description') as string} />
    <meta property='og:image' content='/images/screenshot.png' />
    <meta property='og:image:alt' content={t('metadata.ogImgAlt') as string} />

    <link rel='shortcut icon' href='/logo.svg' type='image/x-icon' />
    <link rel='alternate' hreflang='es' href='https://luiscerv.tech/es' />
    <link rel='alternate' hreflang='en' href='https://luiscerv.tech/' />

    <script src='../helpers/scrollAnimationObserver.ts'></script>
    <title>Luis Cervantes - Portfolio</title>
  </head>
  <body
    class='px-4 py-5 sm:px-[50px] lg:pt-[50px] xl:px-[100px] flex flex-col lg:flex-row lg:gap-20 xl:gap-36 max-w-(--breakpoint-xl) mx-auto'
  >
    <slot />
  </body>
</html>
