---
interface Props {
  href: string;
}
---

<li>
  <a
    target='_blank'
    rel='noreferrer'
    href='https://mx.linkedin.com/in/luiscerv'
    class='transition-all hover:text-cyan-300'
  >
    <slot />
  </a>
</li>
